@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Open+Sans:wght@300;500;600;700&display=swap');

:root, ::before, ::after {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Climate Crisis', cursive;
  --primary-background-color: rgba(118, 195, 211, 0.7);
  --primary-font-color: #9a7d7d;
  --secondary-font-color: rgb(37, 23, 23); 
  --primary-card-color: #f9e8e8;
}