@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Shantell+Sans:ital@1&family=Tilt+Warp&display=swap');

:root {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}

.header-content {
  position: relative;
  background-image: url("images/Nashville.jpeg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: aqua;

}

.overlay-template {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(177, 102, 235, 0.7);
}

.overlay-template:hover{
  background-color: rgb(145, 145, 236,0.7);
}

.header-content h1 {
  position: relative;
  text-align: center;
  font-family: 'Shantell Sans', cursive;
  margin-top: 40vh;  
}



.container {
  width: 95%;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content {
  width: 400px;
  /* min-width: 300px; */
  height: 500px;
  /* max-height: 400px; */
  padding: 0 1rem 1rem 1rem;
  margin: 1rem;
  background-color: var(--primary-card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Shantell Sans', cursive;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(215, 243, 59, 0.3);
  overflow: hidden;
}

.card-content:hover{
  transform: translateY(-10px);
  box-shadow: 5px 10px 15px red;
  transition: all ease 0.2s;
}

.container img{
  /* min-height: 60%; */
  padding-top: 5%;
  width: 95%;
  height: 70%;
}

.container h2 {
  color: var(--secondary-font-color);
  margin: 0.75rem;
  font-size: 1.25rem;
  font-family: 'Shantell Sans', cursive;
  font-weight: 100px;
}

.container p{
  line-height: 1.5rem;
  max-height: 10%;
  text-overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  opacity: 1.2;

}

.container button{
  font-size: 1.15rem;
  width: 38%;
  padding: 0.65rem;
  color: #fcfaf7;
  background-color: rgb(8, 249, 52);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  
}

.container button:hover{
  background-color: rgb(229, 247, 95);
  box-shadow: 15px 15px 15px 15px rgba(222, 241, 118, 0.5);
}


@media(max-width:800px){
  .smallScreen{
    font-size: 1.5em;
  }
}

@media(min-width:801px){
  .largeScreen{
    font-size: 3em;
  }
}